body{
    padding-top: 50px;
    align-content: center;
    padding-bottom: 50px;
}
#contenido{
    padding-top: 30px;
    font-family: monospace;
    width: 900px;
    background-color: rgb(214, 194, 234);
    margin: auto;
    display: flex;
    flex-direction: column;
}

#tabla1, #tablaRegistros{
    display: flex;
    width: 700px;
    margin: auto;
}


.registros{
    width: 700px;
    display: flex;
    flex-direction: column; 
}
#registros{
    display: flex;
      
}


ul {
    list-style: none;
}
#Botones{
    display: flex;
    justify-content: center;

}
.btn{
    background-color:  rgb(73, 58, 157);
    color: rgb(255, 255, 255); 
    width: 100px;
    height: 30px;
}
#borrarR{
    height: 60px;
    width: 100px;
    background-color:  rgb(73, 58, 157);
    color: white;
}
.btn:hover {
    background-color:  rgb(38, 4, 47);
    color: rgb(255, 255, 255);
}


#tabla1{
    text-align: left;
}


#Encabezado{
    size: 10px;
}



#pie {

    background-color: rgb(118, 89, 126);
    color: azure;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    text-align: center;
    text-decoration: none ;
    font-size: 20px;
    margin: 5px;
}